
<div class="flex flex-col yozakura w-full h-full">

    <h3 class="flex-none text-lg mb-2">{{localize 'PlayerActorSheet.capabilities'}}</h3>

    <div class="flex-grow">
<textarea name="system.capacities" data-dtype="String" class="w-full h-full min-h-256 yozakura">{{data.system.capacities}}</textarea>
    </div>

</div>
